#frineds-display-link {
  display: block;
  text-align: center;
  padding: 15px 0px;
  background-color: #fafafa;
  /* font-size: 16px; */
  /* color: #2e363e; */
}

#frineds-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
